.container {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  // &__relative {
  //   @include atMedium {
  //     position: relative;
  //   }
  // }

  .container {
    padding-right: 0;
    padding-left: 0;
  }

  &__medium {
    max-width: 976px;
  }

  &__margin {
    margin-bottom: 1rem;

    @include atSmall {
      margin-bottom: 2.875rem;

    }
  }
}

.image__grow {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}