.page-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  transition: background-color .3s ease-in;

  &__fadeIn {
    background: rgba($primaryGreen, .55);
  }

  @include atMedium {
    position: fixed;
    background: $navbarColor;
  }

  &__isdarker {
    background-color: rgba($primaryGreen, .95);
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;

  }

  &__col {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-top: 85px;
    opacity: 0;
    transform: scale(1.2);
    transition: all .4s ease;

    @include atMedium {
      display: flex;
      flex-direction: row;
      padding-top: 0;
      transform: scale(1);
      opacity: 1;
    }

    &-anchors {
      padding-top: 10px;
      order: 2;

      @include atMedium {
        float: right;
        padding-top: 0;
        order: -1;
      }
    }
  }

  &__isVisible {
    display: inline-flex;
    transform: scale(1);
    opacity: 1;
  }

  &__anchors {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      padding-right: 7px;

      @include atMedium{
        padding-right: 20px;
        float: left;
        display: block;
      }

      &:last-child {
        border-right: none;
        margin-right: 0;
      }

      @include atMedium {
        margin-right: 0;
        padding-left: 0;
        border-right: none;
      }
    }

    li a {
      color: #fff;
      font-weight: 300;
      text-decoration: none;
      display: block;
      padding: 5px 8px;
      font-size: .8rem;
      letter-spacing: .4px;
      outline: none;
      transition: all .3s ease-in-out;
      background-color: rgba($primaryGreen, .5);

      &:hover {
        color: $primaryGold;
      }

      @include atMedium {
        font-size: 1rem;
        padding: 12px 0;
        background-color: transparent;
        border: 0;
        color: #FFF;
        transition: all .3s ease-in-out;
        padding-right: 2px;
      }
    }
  }
  &__brand {
    position: absolute;
    display: block;
    padding: 25px 36px;
    background-color: $primaryGreen;
    left: 50%;
    top: 0;
    transform-origin: 50% 0;
    transform: translate(-50%, -10px) scale(0.8);
    transition: transform .6s cubic-bezier(0.71, -0.23, 0.29, 1.26);

    & span {
      display: table;
    }

    @include atMedium {
      top: 0;
      left: auto;
      transform: translate(0%, -10px) scale(1);

      .page-nav__isdarker & {
        transform: scale(0.55);
        position: absolute;
        transform-origin: 50% 0;
        left: auto;
      }
    }

  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    cursor: pointer;

    @include atMedium {
      display: none;
    }

    & span {
      margin: 0;
      transition: all .3s ease-in-out;

      &:nth-child(1) {
        @include menubar(0, 0);

      }

      &:nth-child(2) {
        @include menubar(8px, 50%);
      }

      &:nth-child(3) {
        @include menubar(16px, 100%);
      }

    }

  }
}

.page-nav__menu-icon.hamburger {
  & span:nth-child(1) {
    transform: rotate(45deg) scaleX(1.25);
  }

  & span:nth-child(2) {
    opacity: 0;
  }

  & span:nth-child(3) {
    transform: rotate(-45deg) scaleX(1.25) translateY(1px);
  }

}

.isCurrentActive {
  color: $primaryGold !important;
}

.padding {
  padding: 25px 36px;
}
